<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - TemperatureApp</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/light-bootstrap-dashboard.css" />
        <link rel="stylesheet" href="~/css/pe-icon-7-stroke.css" />
        <link rel="stylesheet" href="~/lib/fontawesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/pe-icon-7-stroke.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
              asp-fallback-href="~/lib/fontawesome/css/font-awesome.min.css" asp-fallback-test-class="fa"
              asp-fallback-test-property="display" asp-fallback-test-value="inline-block" />
    </environment>

    <link rel="apple-touch-icon" sizes="57x57" href="~/images/fav/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/images/fav/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/images/fav/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/images/fav/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/images/fav/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/images/fav/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/images/fav/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/images/fav/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/fav/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/images/fav/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/images/fav/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/fav/favicon-16x16.png">
    <link rel="manifest" href="~/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/images/fav/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <div class="wrapper">
        <div class="sidebar has-image">
            <div class="sidebar-wrapper">
                <div class="logo">

                    <a asp-action="Index" asp-controller="Home" class="simple-text">
                        <img src="~/images/logo-50.png" alt="" />
                        TemperatureApp
                    </a>
                </div>
                <ul class="nav">
                    @RenderSection("Menu")
                </ul>
            </div>
            <div class="sidebar-background"></div>
        </div>
        <div class="main-panel">
            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" asp-action="Index" asp-controller="Home">@ViewData["Title"]</a>
                    </div>
                </div>
            </nav>

            <div class="content">
                @RenderBody()
            </div>

            <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="https://github.com/ktos/TemperatureService3">About</a>
                            </li>
                        </ul>
                    </nav>
                    <p class="copyright pull-right">
                        &copy; @DateTime.Now.Year - <a href="https://github.com/ktos/TemperatureService3">TemperatureApp</a>
                    </p>
                </div>
            </footer>
        </div>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/light-bootstrap-dashboard.js" asp-append-version="true"></script>
        <script src="~/lib/chartjs/Chart.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/lib/chartjs/Chart.min.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>