@model SensorViewModel

<div class="card">
    <div class="header">
        <h4 class="title"><a asp-action="Sensor" asp-controller="Home" asp-route-name="@Model.Name">@Model.Name</a></h4>
        <p class="category">@Model.Description</p>
    </div>
    <div class="content">
        <h2 class="title">@Model.Data.ToString("F1")°C</h2>

        <div class="footer">
            <hr>
            <div class="stats">
                <span title="@Model.LastUpdated"><i class="fa fa-clock-o"></i> @Model.LastUpdated.Humanize()</span>
                <i class="fa @(Model.Status ? "fa-check-circle" : "fa-times-circle")" title="Status: @Model.Status"></i>
                @{
                    if (Model.DifferenceFromPrevious == Difference.Lowering)
                    {
                        <i class="fa fa-level-down"></i>
                    }
                    else if (Model.DifferenceFromPrevious == Difference.Rising)
                    {
                        <i class="fa fa-level-up"></i>
                    }
                }
            </div>
        </div>
    </div>
</div>