@model IndexViewModel

@section Menu
    {
    <li class="active">
        <a asp-action="Index" asp-controller="Home">
            <i class="pe-7s-graph"></i>
            <p>Dashboard</p>
        </a>
    </li>
    @foreach (var item in Model.Sensors)
    {
        <li>
            <a asp-action="Sensor" asp-controller="Home" asp-route-name="@item.Name">
                <i class="pe-7s-angle-right-circle"></i>
                <p>@item.Name</p>
            </a>
        </li>
    }
}

@foreach (var item in Model.Sensors)
{
    <div class="col-md-3">
        <div class="card">
            <div class="header">
                <h4 class="title">@item.Name</h4>
                <p class="category">@item.Description</p>
            </div>
            <div class="content">
                <h2 class="title">@item.Data.ToString("F1")°C</h2>

                <div class="footer">
                    <hr>
                    <div class="stats">
                        <i class="fa fa-clock-o"></i> @item.LastUpdated.Humanize(culture: new System.Globalization.CultureInfo("pl-PL"))
                        <i class="fa @(item.Status ? "fa-check-circle" : "fa-times-circle")" title="Status: @item.Status"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
}