@model TemperatureService3.ViewModels.SensorPageViewModel

@{
    ViewData["Title"] = "Sensor";
}

@section Menu
    {
    <li>
        <a asp-action="Index" asp-controller="Home">
            <i class="pe-7s-graph"></i>
            <p>Dashboard</p>
        </a>
    </li>
    @*@foreach (var item in Model.Sensors)
        {
            <li>
                <a asp-action="Sensor" asp-controller="Home" asp-route-name="@item.Name">
                    <i class="pe-7s-angle-right-circle"></i>
                    <p>@item.Name</p>
                </a>
            </li>
        }*@
}

<div class="row">
    <div class="col-md-6">
        <partial name="SensorCard" model="Model.Sensor" />
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="content">
                <p><strong>@Html.DisplayNameFor(model => model.Sensor.Name)</strong>: @Model.Sensor.Name</p>
                <p><strong>@Html.DisplayNameFor(model => model.Sensor.Description)</strong>: @Model.Sensor.Description</p>
                <p><strong>@Html.DisplayNameFor(model => model.Sensor.Id)</strong>: @Model.Sensor.Id</p>
                <p><strong>@Html.DisplayNameFor(model => model.Sensor.Type)</strong>: @Model.Sensor.Type</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="card">
        @foreach (var item in Model.Last24Hours)
        {
            <p>@item.Timestamp</p>
            <p>@item.Value</p>
        }
    </div>
</div>