@model TemperatureService3.ViewModels.SensorPageViewModel

@{
    ViewData["Title"] = "Sensor";
}

@section Menu
    {
    <partial name="Menu" model="@new MenuViewModel { Active = Model.Sensor, Sensors = Model.AllSensors }" />
}

<div class="row">
    <div class="col-md-6">
        <partial name="SensorCard" model="Model.Sensor" />
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="content">
                <p><strong>@Html.DisplayNameFor(model => model.Sensor.Name)</strong>: @Model.Sensor.Name</p>
                <p><strong>@Html.DisplayNameFor(model => model.Sensor.Description)</strong>: @Model.Sensor.Description</p>
                <p><strong>@Html.DisplayNameFor(model => model.Sensor.Id)</strong>: @Model.Sensor.Id</p>
                <p><strong>@Html.DisplayNameFor(model => model.Sensor.Type)</strong>: @Model.Sensor.Type</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="content">
                @foreach (var item in Model.Last24Hours)
                {
                    <p>@item.Hour @item.Value</p>
                }
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="content">
                @foreach (var item in Model.LastWeek)
                {
                    <p>@item.Timestamp @item.Value</p>
                }
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="content">
                @foreach (var item in Model.LastMonth)
                {
                    <p>@item.Timestamp @item.Value</p>
                }
            </div>
        </div>
    </div>
</div>