@model TemperatureService3.ViewModels.SensorViewModel

@{
    ViewData["Title"] = "Sensor";
}

@section Menu
    {
    <li>
        <a asp-action="Index" asp-controller="Home">
            <i class="pe-7s-graph"></i>
            <p>Dashboard</p>
        </a>
    </li>
    @*@foreach (var item in Model.Sensors)
        {
            <li>
                <a asp-action="Sensor" asp-controller="Home" asp-route-name="@item.Name">
                    <i class="pe-7s-angle-right-circle"></i>
                    <p>@item.Name</p>
                </a>
            </li>
        }*@
}

<div class="row">
    <div class="col-md-6">
        <partial name="SensorCard" model="Model" />
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="content">
                <p><strong>@Html.DisplayNameFor(model => model.Name)</strong>: @Model.Name</p>
                <p><strong>@Html.DisplayNameFor(model => model.Description)</strong>: @Model.Description</p>
                <p><strong>@Html.DisplayNameFor(model => model.Id)</strong>: @Model.Id</p>
                <p><strong>@Html.DisplayNameFor(model => model.Type)</strong>: @Model.Type</p>
            </div>
        </div>
    </div>
</div>