@model TemperatureService3.ViewModels.SensorPageViewModel

@{
    ViewData["Title"] = "Sensor";
}

@section Menu
    {
    <partial name="Menu" model="@new MenuViewModel { Active = Model.Sensor, Sensors = Model.AllSensors }" />
}

<div class="row">
    <div class="col-md-6">
        <partial name="SensorCard" model="Model.Sensor" />
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="content">
                <p><strong>@Html.DisplayNameFor(model => model.Sensor.Name)</strong>: @Model.Sensor.Name</p>
                <p><strong>@Html.DisplayNameFor(model => model.Sensor.Description)</strong>: @Model.Sensor.Description</p>
                <p><strong>@Html.DisplayNameFor(model => model.Sensor.Id)</strong>: @Model.Sensor.Id</p>
                <p><strong>@Html.DisplayNameFor(model => model.Sensor.Type)</strong>: @Model.Sensor.Type</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="content">
                @foreach (var item in Model.Last24Hours)
                {
                    <p>@item.Hour @item.Value</p>
                }
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="content">
                @foreach (var item in Model.LastWeek)
                {
                    <p>@item.Timestamp @item.Value</p>
                }
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="content">
                <div class="header"><h3>Last Week</h3></div>
                <canvas id="myChart" height="100"></canvas>
                <script>
                    document.addEventListener("DOMContentLoaded", function (event) {
                        var ctx = document.getElementById("myChart");
                        var myChart = new Chart(ctx, {
                            type: 'line', data: {
                                labels: [
                                    @foreach (var d in Model.LastMonth)
                                    {
                                        @Html.Raw(string.Format("\"{0:d}\",", d.Timestamp))
                                    }], datasets: [{
                                        label: 'Temperature',
                                        fill: false,
                                        borderColor: "rgba(75,192,192,1)",
                                    backgroundColor: "rgba(75,192,192,0.4)",
                                        data: [
                                        @foreach (var d in Model.LastMonth)
                                        {
                                            @string.Format(System.Globalization.CultureInfo.InvariantCulture, "{0},", d.Value)
                                            }
                                        ]
                                }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{ ticks: { beginAtZero: true } }]
                                },
                                legend: { display: false }
                            }
                        });

                }); </script>
            </div>
        </div>
    </div>
</div>